<div data-off-canvas="mobile-slidebar left overlay">
  <a class="navbar-brand scroll" routerLink="/">
      <img style=" width: 80%; " class="normal-logo img-resonsive visible-xs visible-sm" src="assets/media/general/logo.png" alt="logo" />
      <img style=" width: 80%; margin-top: 5px; " class="scroll-logo img-resonsive hidden-xs hidden-sm" src="assets/media/general/logo-dark.png" alt="logo" />
  </a>
  <ul class="nav navbar-nav">
      <li>
          <h4><a href="">Mobile sidebar</a></h4>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" routerLink="/" data-toggle="dropdown">Home</a></li>
      <li><a routerLink="/carListing">Car Listing</a></li>
     
    
  </ul>
</div>
<div class="header-search open-search">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
              <div class="navbar-search">
                  <form class="search-global">
                      <input class="search-global__input" type="text" placeholder="Type to search" autocomplete="off" name="s" value="" />
                      <button class="search-global__btn"><i class="icon stroke icon-Search"></i>
                      </button>
                      <div class="search-global__note">Begin typing your search above and press return to search.</div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <button class="search-close close" type="button"><i class="fa fa-times"></i>
  </button>
</div>
<div data-off-canvas="slidebar-1 left overlay">
  <ul class="nav navbar-nav">
      <li><a class="scrollTo" href="#features-section">features</a>
      </li>
      <li><a class="scrollTo" href="#services-section">Services</a>
      </li>
      <li><a class="scrollTo" href="#works-section">Works</a>
      </li>
      <li><a class="scrollTo" href="#about-section">About</a>
      </li>
      <li><a class="scrollTo" href="#team-section">Team</a>
      </li>
      
  
  </ul>
</div>
<header class="header header-3 header-boxed-width navbar-fixed-top header-color-white header-topbar-dark header-logo-white header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right">
  <div class="container container-boxed-width">
      <div class="top-bar text-center">
          <div class="container">
              <div class="header-topbarbox-1">
                  <ul>
                      <li><i class="icon fa fa-clock-o"></i> Mon - Fri : 0900am to 0600pm</li>
                      <li><i class="icon fa fa-phone"></i><a href="tel:+0427983549">+ 00 798 3549 00</a>
                      </li>
                      <li><i class="icon fa fa-envelope-o"></i><a href="mailto:support@carsrentalantalya.com">support@carsrentalantalya.com</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <nav class="navbar" id="nav">
          <div class="container">
              <div class="header-navibox-1">
                  <!-- Mobile Trigger Start-->
                  <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button"><i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
                  </button>
                  <!-- Mobile Trigger End-->
                  <a class="navbar-brand scroll" routerLink="/">
                      <img class="normal-logo img-responsive" src="assets/media/general/logo.png" alt="logo" />
                      <img class="scroll-logo hidden-xs img-responsive" src="assets/media/general/logo-dark.png" alt="logo" />
                  </a>
              </div>
              <div class="header-navibox-2">
                  <ul class="yamm main-menu nav navbar-nav">
                      <li><a class="dropdown-toggle" routerLink="/">Home</a></li>
                      <li><a  routerLink="/carListing">Car Listing</a></li>
                      <li><a href="#">News</a></li>
                      <li><a href="#">CONTACT US</a></li>
                      <li><a href="#">HOW IT WORK</a></li>

                    
                  </ul>
              </div>
          </div>
      </nav>
  </div>
</header>